__pycache__/
*.py[cod]
*$py.class
.Python
.cache/
.codex
.venv/
venv/
.env
.env.*
!.env.example
*.egg-info/
.pytest_cache/
.mypy_cache/
.ruff_cache/
outputs/
external/noetic_ws/
/external/openpi/
/external/panda_simulator/
/external/pick-and-place/
